
**/classes
**/antclasses
**/*.jar
/illacommon/lib
/illacommon/native
/illacommon/rsc
/illacommon/*.zip
/illacommon/local*
/illacommon/illabuild.jar
/illacommon/tempBuildTool_*
/illaeasyquest/res/template/*/filelist
/keys
/bin
/setup/*
!/setup/publish.sh
/out
/.idea/workspace.xml
/.idea/uiDesigner.xml
cache.properties