
**/classes
**/antclasses
**/*.jar
/illacommon/lib
/illacommon/native
/illacommon/rsc
/illacommon/*.zip
/illacommon/local*
/illacommon/illabuild.jar
/illacommon/tempBuildTool_*
/illacommon/src/skills.xml
/illaeasyquest/res/template/*/filelist
/keys
/bin
/setup/*
*/build
!/setup/publish.sh
!/setup/publish_release.sh
!/setup/prepare.sh
/out
/.idea/workspace.xml
/.idea/uiDesigner.xml
cache.properties
*.log
*.log.*
.DS_Store
