# Auto detect text files and perform LF normalization
* text=auto

# Images
*.png binary
*.jpg binary
*.ico binary
*.icns binary

# Source Files
*.java text
*.lua text
*.xml text
*.install4j text
*.iml text
*.a4 text
*.gradle text
*.groovy text