<configuration>
    <if condition='property("log_dir").length()>0'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${log_dir:-}/client.log</file>
                <encoder>
                    <pattern>%-5p - %d{ISO8601} - [%t]: %m%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <maxIndex>5</maxIndex>
                    <FileNamePattern>${log_dir:-}/client.log.%i.gz</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/>
            </appender>
            <root>
                <appender-ref ref="FILE"/>
            </root>
        </then>
    </if>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p - %d{ISO8601} - [%t]: %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.bushe.swing.event.EventService" level="warn"/>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>