#rootPane {
    -fx-background-color: transparent;
    -fx-border-image-source: url("panel/panel-window-dark.png");
    -fx-border-image-slice: 59 23 48 23 fill;
    -fx-border-image-width: 59 23 48 23;
    -fx-padding: -54 0 -38 0;
}

.label {
    -fx-text-fill: white;
}

.button-gray {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-image-source: url("button/buttongray.png");
    -fx-border-image-slice: 8 fill;
    -fx-border-image-width: 8;
    -fx-padding: -8 0 -8 0
}

.button-gray:hover {
    -fx-border-image-source: url("button/buttongray_hover.png");
}

.button-gray:pressed {
    -fx-border-image-source: url("button/buttongray_pressed.png");
}

.button-green {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-image-source: url("button/buttongreen.png");
    -fx-border-image-slice: 8 fill;
    -fx-border-image-width: 8;
}

.button-green:hover {
    -fx-border-image-source: url("button/buttongreen_hover.png");
}

.button-green:pressed {
    -fx-border-image-source: url("button/buttongreen_pressed.png");
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-border-image-source: url("progressbar/progressbar-outer.png");
    -fx-border-image-slice: 9 8 9 8 fill;
    -fx-border-image-width: 9 8 9 8;
    -fx-padding: -7 -4 -7 -4;
    -fx-indeterminate-bar-length: 100;
    -fx-indeterminate-bar-escape: false;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

.progress-bar .bar {
    -fx-border-image-source: url("progressbar/progressbar-inner.png");
    -fx-border-image-slice: 2 fill;
    -fx-border-image-width: 0;
}

.progress-bar .track {
    -fx-background-color: black;
}

.button-close {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-graphic: url("button/buttonclose.png");
}

.button-close:hover {
    -fx-graphic: url("button/buttonclose_hover.png");
}

.button-close:pressed {
    -fx-graphic: url("button/buttonclose_pressed.png");
}

.button-minimize {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-graphic: url("button/buttonminimize.png");
}

.button-minimize:hover {
    -fx-graphic: url("button/buttonminimize_hover.png");
}

.button-minimize:pressed {
    -fx-graphic: url("button/buttonminimize_pressed.png");
}

#logo {
    -fx-image: url("title.png");;
}

.titled-pane {
    -fx-font-size: 12;
}

.titled-pane .title {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.titled-pane .title .text {
    -fx-fill: white;
}

.titled-pane .content {
    -fx-background-color: transparent;
    -fx-border-image-source: url("listview/listview.png");
    -fx-border-image-slice: 12 4 12 4 fill;
    -fx-border-image-width: 12 4 12 4;
    -fx-padding: -8 0 -8 0;
}

.text-field {
    -fx-text-fill: #ffff;
    -fx-background-color: #444f;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-insets: -1;
}

.text-field:hover {
    -fx-border-color: #305B2CFF;
}

.text-field:focused {
    -fx-background-color: #305B2CFF;
}

.radio-button {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-color: #444f;
    -fx-background-insets: 1;
    -fx-border-radius: 1em;
    -fx-border-insets: -1;
}

.radio-button .radio .dot {
    -fx-background-color: transparent;
}

.radio-button:hover .radio {
    -fx-border-color: #305B2CFF;
}

.radio-button:selected .radio .dot {
    -fx-background-color: WHITE;
}

.combo-box-base {
    -fx-border-image-source: url("dropdown/dropdown.png");
    -fx-border-image-slice: 9 49 9 29 fill;
    -fx-border-image-width: 9 49 9 29;
    -fx-padding: -9 -44 -9 -24;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.combo-box-base:hover {
    -fx-border-image-source: url("dropdown/dropdown_hover.png");
}

.combo-box-base:pressed {
    -fx-border-image-source: url("dropdown/dropdown_pressed.png");
}

.combo-box-base .arrow-button {
    -fx-padding: 0 3 0 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: transparent;
    -fx-background-image: url("dropdown/dropdown_arrow.png");
    -fx-background-size: 9, 14;
}

.combo-box .list-cell {
    -fx-padding: 0 17 2 1;
    -fx-alignment: center;
}

.combo-box .list-cell .text {
    -fx-fill: white;
}

.combo-box-popup .list-view {
    -fx-border-image-source: url("dropdown/dropdownbox.png");
    -fx-border-image-slice: 0 49 13 29 fill;
    -fx-border-image-width: -2 49 13 29;
    -fx-padding: 0 -39 -9 -20;
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 0 -25 0 5;
    -fx-background-color: #000c;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #264d1cff;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #051901ff;
}