<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/illaclient/src/illarion/client/IllaClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers">
<mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="illarion.client.IllaClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="illaclient"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dillarion.components.avaiable.javolution=true&#13;&#10;-Dillarion.components.avaiable.jorbis=true&#13;&#10;-Dillarion.components.avaiable.jogg=true&#13;&#10;-Dillarion.components.avaiable.tritonus=true&#13;&#10;-Dillarion.components.avaiable.vorbisspi=true&#13;&#10;-Dillarion.components.avaiable.trove=true&#13;&#10;-Dillarion.components.avaiable.gluegen=true&#13;&#10;-Dillarion.components.avaiable.jogl=true&#13;&#10;-Dillarion.components.avaiable.nativewindow=true&#13;&#10;-Dillarion.components.avaiable.newt=true&#13;&#10;-Dillarion.components.avaiable.lwjgl=true"/>
</launchConfiguration>
