<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/illacommon/lib/log4j" />
      <root url="file://$PROJECT_DIR$/illacommon/lib/log4j" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="intellijad://intellijad" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/illacommon/lib/log4j" recursive="false" />
  </library>
</component>